@model IEnumerable<Assignment2_SheheryarIzhar.Models.Student>

@{
    ViewData["Title"] = "StudentList";
}

<h1>Student Records</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm" style="font-weight: 600; border: 1px solid black">Create Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a href="" data-toggle="modal" onclick="GetStudentRecord(@item.Id ,'@item.Name', @item.Age)" data-target="#modalContactForm2">Edit |</a>
                <a href="" data-toggle="modal" onclick="StudentDetails(@item.Id ,'@item.Name', @item.Age)" data-target="#modalContactForm3">Details |</a>
                @*@Html.ActionLink("Edit", "Edit", new { id="modalContactForm" }) |*@
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>


<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post" action="Home/AddStudent/">        
        <div class="modal-body mx-3">
        
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="hidden" name="Id">
          <input type="text" name="Name" id="textbox1" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form29">Student Name</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-tag prefix grey-text"></i>
          <input type="number" name="Age" id="textbox2" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form32">Student Age</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique">Add Student<i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="modalContactForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Edit Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post" action="Home/EditStudent/">        
        <div class="modal-body mx-3">
        
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="hidden" name="Id" id="exittextbox0">
          <input type="text" name="Name" id="exittextbox1" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form29">Student Name</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-tag prefix grey-text"></i>
          <input type="number" name="Age" id="edittextbox2" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form32">Student Age</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique">Update Student<i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="modalContactForm3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Student Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body mx-3">
        
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <h4 id="detailsbox0"></h4>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-tag prefix grey-text"></i>
          <h4 id="detailsbox1"></h4>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-tag prefix grey-text"></i>
          <h4 id="detailsbox2"></h4>
        </div>

      </div>
    </div>
  </div>
</div>



<script>

    function GetStudentRecord(id ,name = "h", age = 2){
        console.log("fuck");
        console.log(name, age, id);
    document.getElementById("exittextbox0").value = id;
    document.getElementById("exittextbox1").value = name;
    document.getElementById("edittextbox2").value = age;

    }

    function StudentDetails(id ,name = "h", age = 2){
        console.log("fuck");
        console.log(name, age, id);
    document.getElementById("detailsbox0").innerHTML = "Id: "+ id;
    document.getElementById("detailsbox1").innerHTML = "Name: " + name;
    document.getElementById("detailsbox2").innerHTML = "Age: " + age;

    }


</script>







